node_modules
dist
build
.tsbuildinfo

.git
.github

.vscode

.coverage
coverage

Dockerfile
.dockerignore

.env
.env.example
.env.*

*.md

coverage
htmlcov
.oxlintrc.json

tests
testSetup.ts
vitest.config.ts