SECRET_KEY
POSTGRES_HOSTNAME
POSTGRES_PORT
POSTGRES_PASSWORD
POSTGRES_NAME
POSTGRES_USERNAME
ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES
REFRESH_TOKEN_EXPIRE_DAYS
ALLOWED_ORIGINS
STEAM_KEY
REDIS_HOST
REDIS_PORT
REDIS_DB
PROD
FRONTEND_AUTH_URL