87-0.net {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

        X-XSS-Protection "1; mode=block"

        X-Content-Type-Options "nosniff"

        X-Frame-Options "DENY"

        Referrer-Policy "strict-origin-when-cross-origin"

        Content-Security-Policy "default-src https;"

        -Server
    }
    
    handle_path /api/* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}