__pycache__
*.pyc
*.pyo
**/__pycache__

.git
.github
**/*.git
**/*.gitignore
.gitattributes
**/*.md

.pytest_cache
**/.pytest_cache
.ruff_cache
.mypy_cache

tests
redis_temp
old_ml
data

.env
.env.*

Dockerfile
.dockerignore
docker-compose.test.yml
notes.md
README.md

node_modules